* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
   background-color: #FFFFFF;
   font-family: "Instrument Sans", sans-serif;
}

/* Transitions */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/* Index HTML */
/* Navigation Section */

.navigation-section {
    animation: fadeIn 1s forwards;
    align-items: center;
    background-color: #F07E26;
    display: flex;
    height: 8rem;
    opacity: 0;
    padding: 6rem 4rem;
    justify-content: space-between;
}

.logo {
    height: 7rem;
}

.navigation-list {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navigation-link {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.7rem;
    text-decoration: none;
    transition: all 0.3s;
}

.navigation-link:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000000;
    padding: 0.7rem;
    transition: all 0.3s;
}

/* Primary Section */ 

.primary-section {
    animation: fadeIn 1s forwards;
    background-image: linear-gradient(to bottom, #F07E26, #E5A06C);
    margin-bottom: 5rem;
    opacity: 0;
    padding: 2rem 0 6rem 0;
}

.primary {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15rem;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.primary-heading {
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
}

.primary-description {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.primary-img {
    width: 100%;
}

.btn-full {
    background-color: #F07E26;
    border-radius: 10px;
    border: 2px #F07E26 solid;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1rem 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-full:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    transition: all 0.3s;
}

.btn-outline {
    background-color: #E9A26C;
    border-radius: 10px;
    border: 2px #E9A26C solid;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-outline:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000000;
    transition: all 0.3s;
}

/* Secondary Section */

.secondary-section {
    padding: 3rem 0;
}

.secondary {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.secondary-subheading {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.secondary-heading {
    color: #000000;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5rem;
}

.feature {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 8rem;
    padding: 0 13rem;
}

.feature-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-img {
    width: 100%;
}

.attribute {
    color: #000000;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
}

.feature-no {
    background: linear-gradient(to left top, #F07E26, #E5A06C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13rem;
    font-weight: 700;
}

.feature-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.feature-description {
    font-size: 2rem;
    font-weight: 400;
}

/* Third Section */ 

.third-section {
    padding: 6rem 0;
    margin-bottom: 8rem;
}

.third {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0rem;
}

.cta {
    background-image: linear-gradient(to left top, #F07E26, #E5A06C);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 52rem;
    overflow: hidden;
}

.cta-text-box {
    color: #FFFFFF;
    padding: 5rem;
}

.cta .heading {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.cta-overview {
    font-size: 1.6rem;
}

.cta-img-box {
    background-image: url("/imgs/about-section-img.png");
    background-size: cover;
    background-position: center;
}

/* .cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.cta-form label {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.name-box, .email-box {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1.2rem;
    width: 100%;
}

.input-box {
    border: none;
    border-radius: 10px;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1rem;
    height: 10rem;
    margin-bottom: 3rem;
    padding: 1.2rem;
    resize: none;
    width: 100%;
}

.third-heading {
    color: #000000;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5rem;
}

.third-description {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Fourth Section */ 

.fourth-section {
    padding: 6rem 0;
}

.fourth {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.fourth-heading {
    color: #000000;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5rem;
}

.fourth-description {
    font-size: 1.5rem;
    font-weight: 400;
}


/* Footer Section */

.footer {
    background-image: linear-gradient(to right, #F07E26, #E5A06C); 
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10rem;
    margin: 0 auto;
    padding: 4rem 4rem;
}

.logo-column {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    height: 9rem;
}

.footer-contact {
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.address {
    margin-bottom: 1rem;
}

.email {
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: none;
}

.footer-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    line-height: 1;
}

.footer-link {
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
}

/* About HTML */ 

.about-section {
    background-color: #005172;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 0;
}

.about {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15rem;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.about-heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
}

.about-description {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.subheading {
    color: #000000;
    font-size: 2.5rem;
    text-align: center;
}

/* Plan HTML */


